<footer>
	<div class="footer__content">
		<div class="footer__links">
			{% for link in section.settings.menu.links %}
				{{ link.title | link_to: link.url }}
			{% endfor %}
		</div>
	</div>
	
	<div class="footer__copyright">
		&copy;
		{{ 'now' | date: '%Y' }}
		{{ shop.name | link_to: routes.root_url }}
	</div>
</footer>

{% stylesheet %}
	footer {
		background-color: #FFBD59;
		padding: 2rem 1rem;
		margin-top: 2rem;
	}
	
	.footer__content {
		margin: 0 auto;
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	
	.footer__links {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 1.5rem;
		margin-bottom: 0.5rem;
		
		font-family: 'Lalezar', sans-serif;
		font-size: 2rem;
		text-transform: uppercase;
	}
	
	.footer__copyright {
		text-align: center;
		color: #004AAD;
	}
	
	footer a {
		text-decoration: none;
		transition: opacity 0.3s ease;
	}
	
	footer a:hover {
		opacity: 0.8;
	}
	
	@media (max-width: 480px) {
		.footer__links {
			gap: 1rem;
		}
	}
{% endstylesheet %}

{% if template == 'product' and product.metafields.custom.color %}
	<style>
		:root {
			--c0: {{ product.metafields.custom.color.value[0] }};
			--c1: {{ product.metafields.custom.color.value[1] }};
			--c2: {{ product.metafields.custom.color.value[2] }};
		}
		
		footer {
			background-color: var(--c0);
			margin-top: 0;
		}
		
		.footer__links a {
			color: var(--c2);
		}
	</style>
{% endif %}

{% schema %}
{
	"name": "t:general.footer",
	"class": "shopify-section--full-width",
	"settings": [
		{
			"type": "link_list",
			"id": "menu",
			"label": "t:labels.menu"
		},
		{
			"type": "checkbox",
			"id": "show_payment_icons",
			"label": "t:labels.show_payment_icons",
			"default": true
		}
	]
}
{% endschema %}
